@import "reset"

body
  font-size 16px
  font-family sans-serif
  padding 20px

img {
  margin-top: 10px
}  

.hero
  text-align: center
  margin-left: auto
  margin-right: auto

.wrapper
  position: relative 
  display: inline-block

.clear
  clear: both

.button
  clear: both
  margin-top: 10px
  position: relative

.spinner
  margin-left: 10px
  float: left
  width: 250px
  height: 110px
  border: 1px solid yellow
  border-radius: 25px;

 
  